#container {
    margin: 4;
    display:flex;
}

#bigBox {
    height: 512px;
    width: 512px;
    border: 4px solid black;
}

#grid {
    background: black;
    height: 512px;
    width: 512px;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 1px;
}


.smallBox {
    background: white;
    border: 1px solid black;
    padding: 2px;
}


